@media screen and (max-width: $breakpoint-desktop-max) {
    .menu {                        
        width: 20vw;
        height: toRem(34px);
        ul {
            height: 100%;
            // height: calc(100% - 3px);
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            li {                
                height: 100%;
                span {
                    height: 100%;
                    font-family: Barlow Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 2.7px;
                    color: #D0D6F9;
                    text-transform: uppercase;
                }
                &::after {
                    content: '';
                    display: block;
                    margin: auto;                    
                    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
                    transform: scaleX(0) translateY(12.5px);
                    transition: transform 250ms ease-in-out;
                    z-index: 6;
                }
                &:hover::after {
                    transform: scaleX(1) translateY(12.5px);
                }
                &.idle:hover {
                    cursor: pointer;
                    // @include Hover;
                }
            }
            .active {                
                border-bottom: 3px solid white;
                pointer-events: none;
                span {
                    color: $color-3;
                }
            }

        }
    }
}


@media screen and (max-width: $breakpoint-tablet-max) {
    .menu {
        width: 37vw;
    }
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .menu {
        width: 73vw;
        ul {
            li {
                span {
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 2.3625px;
                }
            }
            // Avoid a bug generating the border bottom
            // while navigating with slide or click action on mobile.
            li.idle:hover {                
                border-bottom: none;
            }
        }

    }
}