@media screen and (max-width: $breakpoint-desktop-max) {
    .crew {
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "content" "image";

            .crew-image {
                grid-area: "image";
                align-self: end;
                justify-self: center;
                overflow: visible;
                @import '../components/crew/image';
            }
            .crew-content {
                grid-area: "content";
                padding-top: 17vh;
                padding-bottom: 10.4vh;
                transform: translateX(toRem(28px)); //hack to make things left aligned to title
                justify-self: center;
                @import '../components/crew/member';
                @import '../components/crew/dotMenu';
            }
        }
    }
}
@media screen and (max-width: $breakpoint-tablet-max) {
    .crew {
        .content {
            grid-template-rows: auto auto;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "content"                
                "image";
            grid-row-gap: 40px;
                .crew-content {
                    transform: translateX(0);
                    text-align: center;
                    padding : 0;
                    display: grid;
                    grid-row-gap: 40px;
                    justify-items: center;
                    align-items: center;
                }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .crew {
        .content {
            
            padding: 0 24px;
            padding-top: 32px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-row-gap: 32px;
            grid-template-areas: 
                "1" 
                "2";
            .crew-image {
                grid-area: "1" !important;
                align-self: end;
                justify-content: center;
                display: flex;
                width: 100%;
                
                border-bottom: 1px solid rgba(56, 59, 75, 1);
            }

            .crew-content {
                grid-row-start: 2; // Trick to reverse order from original divs order
                grid-area: "2";
                grid-row-gap: 32px;
                grid-template-columns: 1fr;
                grid-template-rows: min-content auto;
                grid-template-areas: 
                    "menu"
                    "description";
                .menu {                    
                    grid-area: "menu";
                }
                .member-infos {
                    grid-row-start: 2;
                    grid-area: "description";
                    align-self: start;
                }
            }
        }
    }
}