@media screen and (max-width: $breakpoint-desktop-max) {
    .crew {
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 
                "content" "image"
                "menu" "image";
            .crew-menu {
                grid-area: "menu";
                grid-row-start: 2;
                justify-self: start;
                align-self: start;
                padding-left: 167px; // left alignment a bit sketchy
                @import '../components/crew/dotMenu';
            }
            .crew-content {
                grid-area: "content";
                grid-row-start: 1;
                justify-self: start;
                align-self: center;
                padding-left: 167px; // left alignment a bit sketchy
                z-index: 5;
                @import '../components/crew/member';
            }
            .crew-image {
                grid-area:
                    "image" 
                    "image";
                grid-row-start: 1;
                grid-row-end: 3;
                justify-self: center;
                align-self: end;
                @import '../components/crew/image';
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-max) {
    .crew {
        overflow-y: clip !important;
        .content {
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
            grid-template-areas: "content" "menu" "image";
            grid-row-start: "content";
            .crew-content {
                grid-row-start: 1;
                grid-area: "content";
                padding-left: 0;
                justify-self: center;
            }
            .crew-menu {
                grid-area: "menu";
                padding-left: 0;
                justify-self: center;
            }
            .crew-image {
                grid-row-start: 3;
                grid-area: "image";
            }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .crew {
        overflow-y: scroll !important;
        .content{
            grid-template-rows: auto max-content auto;
            grid-template-areas: "image" "menu" "content";
            grid-row-start: "image";
            grid-row-gap: 32px;
            .crew-image {
                grid-row-start: 1;
                grid-row-end: 2 !important;
                padding-top: 32px;
                
            }
            .crew-menu {
                grid-row-start: 2;
            }
            .crew-content {
                grid-row-start: 3;
                align-self: start;
            }
        }
    }
}


