@media screen and (max-width: $breakpoint-desktop-max) {
    .destination {       
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            
            grid-template-areas: 
                "image content";

            .planet-image {
                grid-area: "image";
                @import '../components/destinations/image';
                align-self: center;
                justify-self: end;
            }
            .planet-content {
                grid-area: "content";
                align-self: center;
                justify-self: center;
                z-index: 8;
                // .box COULD BE REMOVED LIKE ON PAGES Technology and Crew
                .box {
                    width: 31vw;
                    @import '../components/destinations/tabMenu';
                    @import '../components/destinations/description';
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-max) {
    .destination {
        .content {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            grid-row-gap: 53px;
            grid-template-areas: 
                "image"
                "content";
            .planet-image {
                justify-self: center;
            }
            .planet-content {
                align-self: start;
                .box {
                    width: 100%;
                    display: grid;
                    justify-items: center;
                    text-align-last: center;                    
                }
            }
        }
    }    
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .destination {
        .content {
            grid-row-gap: 26px;
        }
    }
}


