@media screen and (max-width: $breakpoint-desktop-max) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "nav"
            "page";
        .content {
            grid-area: 
            "page";
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr;
            grid-template-areas: "intro" "explore";
            align-items: flex-end;
            
            .homeIntroduction {
                grid-area: "intro";
                display: grid;
                width: toRem(450px);
                justify-self: center;
                padding-bottom: 14vh;
                h5 {
                    padding-bottom: toRem(24px);
                }
            }          
            .buttonExplore {
                grid-area: "explore";
                display: grid;
                align-items: end;
                justify-content: center; 
                padding-bottom: 14.5vh;               
                @import '../components/home/button';
            }
        }
    }
}


@media screen and (max-width: $breakpoint-tablet-max) {
    .home {        
        .content {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;   
            .homeIntroduction {
                grid-area: "intro";
                display : grid;
                justify-items: center;
                align-content: center;                
                text-align: center;
                align-self: start;
                padding-bottom: 0;
                padding-top: 11.5vh;
                h1 {
                    line-height: toRem(150px);
                    
                }
                h5 {
                    font-size: toRem(20px);
                    line-height: toRem(24px);
                    letter-spacing: toRem(3.375px);
                }
                p {
                    font-size: toRem(16px);
                    line-height: toRem(28px);
                    color: $color-2;                    
                    padding: 0 1%;
                }
            }
            .buttonExplore {
                grid-area: "explore";
                display: grid;
                justify-items: center;
                align-content: center;  
                padding-bottom: 10vh;            
            }        
        }
    }
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .home {        
        display: grid;    
        grid-template-columns: 1fr;
        grid-template-rows: 116px auto;
        grid-template-areas: 
            "nav" 
            "page";     
        .navBar {
            display: flex;
        }
        .content {       
            grid-area: "page";
            display: grid;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;

            .homeIntroduction {
                width: inherit;
                align-self: center;              
                padding-bottom: 0;
                padding-top: 0;
                h5 {
                    font-size: toRem(16px);
                    line-height: toRem(19px);
                    letter-spacing: toRem(2.7px);
                    padding-bottom: toRem(16px);
                }
                h1 {
                    font-size: toRem(80px);
                    line-height: toRem(100px);                   
                }
                p {
                    font-size: toRem(15px);
                    line-height: toRem(25px);                  
                    margin: 0;
                    padding: 0 toRem(24px);
                }
            }
            .buttonExplore {
                grid-area: "explore";
                display: grid;
                justify-items: center;
                align-content: center;
                padding-bottom: 7vh;
            }        
        }
    }
}