/// MAIN DISPLAY FOR ALL PAGES

/// GROUPS NAVBAR + PAGEs CONTENT UNDER MAIN.

.main {
    // position: absolute;
    // top:0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // width: 100%;
    // min-height: 100vh;
    // height: 100%;
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: content-box;
    .home {
        overflow-y: auto;
    }

    .destination, .crew, .technology {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr; // auto : adjust to navbar height and let page content fill rest of page
        grid-template-areas: 
            "nav" 
            "title"
            "page";
        .title-content {
            grid-area: "title";
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            @import '../components/title';
        }
    }
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .main {

        .destination, .crew, .technology {
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
            overflow-y: auto;
            grid-template-rows: 88px auto 1fr;

            .title-content {
                grid-template-columns: 1fr;
            }
        }
    }    
}