/// MAIN DISPLAY FOR ALL PAGES

/// GROUPS NAVBAR + PAGEs CONTENT UNDER MAIN.

.main {
    width: 100%;
    height: 100%;
    box-sizing: inherit;
    .home {
        overflow-x: hidden;
        overflow-y: auto; // little trick to make things easier with responsive on height (y axis)
    }

    .destination, .crew, .technology {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr; // auto : adjust to navbar height and let page content fill rest of page
        grid-template-areas: 
            "nav" 
            "title"
            "page";
        .title-content {
            grid-area: "title";
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            @import '../components/title';
        }
    }
}


@media screen and (max-width: $breakpoint-mobile-max) {
    .main {
        .destination, .crew, .technology {
            -webkit-overflow-scrolling: touch; // Let swipe possibility
            overflow-x: hidden;
            overflow-y: auto;
            grid-template-rows: 88px auto 1fr;
            .title-content {
                grid-template-columns: 1fr;
            }
        }
    }    
}