@media screen and (max-width: $breakpoint-desktop-max) {
    .technology {
        .content {
            display: grid;
            grid-template-columns: 1fr 1.5fr 1.5fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "menu content image";
            .techno-menu {
                grid-area: "menu";
                margin: 2vh 0;
                justify-self: center;
                align-self: center;
                @import '../components/technology/circleMenu';
            }
            .techno-image {
                grid-area: "image";
                justify-self: end;
                align-self: center;
                @import '../components/technology/image';
            }
    
            .techno-content {
                grid-area: "content";
                justify-self: start;
                align-self: center;
                z-index: 5;
                @import '../components/technology/techno';
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-max) {
    .technology {
        .content {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "image" "menu" "content";
            grid-row-start: "image";
            .techno-menu {
                // pass
            }
            .techno-image {
                grid-row-start: 1;
                justify-self: center;
                align-self: start;
            }
            .techno-content {
                justify-self: center;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .technology {
        .content {
            grid-template-rows: max-content auto auto;
            .techno-image {
                padding-top: 32px;
                align-self: center;
            }
            .techno-content {
                align-self: start;
            }
        }
    }
}
