@media screen and (max-width: $breakpoint-desktop-max) {
    .title {
        padding-left: toRem(165px);
        transform: translateX(toRem(28px));
        padding-top: toRem(76px);
        h5 {
            color: $color-3;
            span {
                padding-right: toRem(28px);
                opacity: 0.25;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-max) {
     .title {
        padding-left: 38.5px !important;        
        padding-top: toRem(40px);
        transform: translateX(0);
        padding-bottom: 60px;
        h5 {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 3.375px;
        }
    }
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .title {
        display: flex;
        align-content: center;
        justify-content: center;
        
        padding-left: 0 !important;        
        padding-top: 24px;
        padding-bottom: 0;//32px;
       h5 {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
       }
   }
}

