@media screen and (max-width: $breakpoint-desktop-max) {
     .image {
          img {
               width: auto;
               height: auto;
          }
     }
}

@media screen and (max-width: $breakpoint-mobile-max) {
     .image {                
          img {

               max-width: 177px;
               height: auto;            
          }
     }
}