@media screen and (max-width: $breakpoint-desktop-max) {
     .image {
          img {
               transform: translateX(10%);
               width: 90%;
          }
     }
}

@media screen and (max-width: $breakpoint-mobile-max) {
     .image {                
          img {
               max-width: 177px;
               height: auto;            
          }
     }
}