@media screen and (max-width: $breakpoint-desktop-max) {
     .buttonIdleCircle {
          height: toRem(274px);
          width: toRem(274px);
          a {
              text-decoration: none;
          }
          .circle {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
              background-color: $color-3;
              border-radius: 50%;
              z-index : 3;
              transform: scale(1);
              animation: pulse 5s infinite; 
              @keyframes pulse {
                    0% {
                         transform: scale(0.95);
                         box-shadow: 0px 0px 0px 0px rgb(255 255 255 / 7%);
                    }
               
                    70% {
                         transform: scale(1);
                         box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 10%);
                    }
               
                    100% {
                         transform: scale(0.95);
                         box-shadow: 0 0 0 0 rgba(255, 255, 255, 7%);
                    }
               }
              h4 {
                  text-align: center;
                  letter-spacing: 1.25px;
                  color: #0B0D17;
              }
          }
          .circle:hover {
               animation-play-state: paused;
               transform: scale(1.02) !important;
               box-shadow: 0px 0px 0px 88px rgb(255 255 255 / 10%) !important;
          }

     }
}

@media screen and (max-width: $breakpoint-tablet-max) {
     .buttonIdleCircle {
          margin: 7vh 0;
          height: toRem(242px);
          width: toRem(242px);
          .circle {
               transform: scale(1);
               animation: pulse 3s infinite; 
               @keyframes pulse {
                    0% {
                         transform: scale(0.95);
                         box-shadow: 0px 0px 0px 0px rgb(255 255 255 / 7%);
                    }
               
                    70% {
                         transform: scale(1);
                         box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 10%);
                    }
               
                    100% {
                         transform: scale(0.95);
                         box-shadow: 0 0 0 0 rgba(255, 255, 255, 7%);
                    }
               }
          }
          .circle:hover {
               transform: scale(1.01) !important;
               box-shadow: 0px 0px 0px 50px rgb(255 255 255 / 10%) !important;
          }
     }

}

@media screen and (max-width: $breakpoint-mobile-max) {
     .buttonIdleCircle {
          margin: 5vh 0;
          height: toRem(150px);
          width: toRem(150px);
          .circle {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
              background-color: $color-3;
              border-radius: 50%;
              z-index : 3;
               h4 {
                  font-size: 20px;
                  line-height: 23px;
                  text-align: center;
                  color: #0B0D17;
               }
               transform: scale(1);
               animation: pulse 3s infinite; 
               @keyframes pulse {
                    0% {
                         transform: scale(0.95);
                         box-shadow: 0px 0px 0px 0px rgb(255 255 255 / 7%);
                    }
               
                    70% {
                         transform: scale(1);
                         box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 10%);
                    }
               
                    100% {
                         transform: scale(0.95);
                         box-shadow: 0 0 0 0 rgba(255, 255, 255, 7%);
                    }
               }
          }
          .circle:hover {
               animation-play-state: paused;
               transform: scale(1.005) !important;
               box-shadow: 0px 0px 0px 30px rgb(255 255 255 / 10%) !important;
          }
     }      
}
